{% extends 'MainBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/angular/Section/sectionController.js') }}"></script>
    <script src="{{ asset('assets/js/angular/Section/sectionRequest.js') }}"></script>
{% endblock %}

{% set readOnly = (is_granted('ROLE_ADMIN') == false and is_granted('ROLE_BOARD') == false) %}

{% block body %}
    <div class="main-inner" ng-controller="sectionController as ctrl" ng-init="ctrl.init()">
        <div class="container">
            <div class="span7">
                <div class="widget">
                    <div class="widget-header">
                        <i class="icon-book"></i>
                        <h3>{{ 'sections.header' | trans }}</h3>
                        <span>
                            <div class="onoffswitch">
                                <input name="onoffswitch"
                                       class="onoffswitch-checkbox ng-pristine ng-untouched ng-valid"
                                       id="myonoffswitch"
                                       ng-model="ctrl.section.galaxy_import"
                                       ng-true-value="false"
                                       ng-false-value="true"
                                       ng-change="ctrl.changeSectionStatus()"
                                       type="checkbox"  {% if (readOnly) %}disabled="true"{% endif %}">
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </span>
                    </div>
                    <div class="widget-content">
                            <label for="name">{{ 'sections.form.label.name' | trans }}</label>
                            <input type="text" required="required" ng-model="ctrl.section.name" {% if (readOnly) %}readonly{% endif %} ng-disabled="ctrl.section.galaxy_import"/><br>
                            <label for="website">{{ 'sections.form.label.website' | trans }}</label>
                            <input type="text" required="required" ng-model="ctrl.section.website" {% if (readOnly) %}readonly{% endif %} ng-disabled="ctrl.section.galaxy_import"/><br>
                            <label for="email">{{ 'sections.form.label.email' | trans }}</label>
                            <input type="text" required="required" ng-model="ctrl.section.email" type="email" {% if (readOnly) %}readonly{% endif %} ng-disabled="ctrl.section.galaxy_import"/><br>
                            <label for="phone">{{ 'sections.form.label.phone' | trans }}</label>
                            <input type="text" required="required" ng-model="ctrl.section.phone" {% if (readOnly) %}readonly{% endif %} ng-disabled="ctrl.section.galaxy_import"/><br>
                            <label for="university">{{ 'sections.form.label.university' | trans }}</label>
                            <input type="text" required="required" ng-model="ctrl.section.university" {% if (readOnly) %}readonly{% endif %} ng-disabled="ctrl.section.galaxy_import"/><br>
                            <label for="address">{{ 'sections.form.label.address' | trans }}</label>
                            <textarea rows="4" cols="50" ng-model="ctrl.section.address" {% if (readOnly) %}readonly{% endif %} ng-disabled="ctrl.section.galaxy_import"></textarea>
                            <label for="logoUrl">{{ 'sections.form.label.logo-url' | trans }}</label>
                            <input class="no-margin" type="text" required="required" ng-model="ctrl.section.logo_url" {% if (readOnly) %}readonly{% endif %}/>
                            <button class="btn btn-primary {% if (readOnly) %}hidden{% endif %}" ng-click="ctrl.generateLogoUrl()">{{ 'sections.form.buttons.generate-url-logo' | trans }}</button>
                            <label for="logoUrlImage" ng-if="ctrl.section.logo_url">{{ 'sections.form.label.logo-url-image' | trans }}</label>
                            <br/>
                            <img ng-if="ctrl.section.logo_url" ng-src="{[{ctrl.section.logo_url}]}" alt="Logo image"/>
                            <br/><br/>
                            <input class="btn btn-primary {% if (readOnly) %}hidden{% endif %}" type="submit" value="Save" type="submit" ng-click="ctrl.editSection()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
