<head>
    <title>ESN - Survival Guide</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ asset('assets/js/angular.min.js') }}"></script>
        <script src="{{ asset('assets/js/angular/app.js') }}"></script>
        <script src="{{ asset('assets/js/angular/Notification/notificationController.js') }}"></script>
        <script src="{{ asset('assets/js/angular/Notification/notificationService.js') }}"></script>
        <script src="{{ asset('assets/js/angular/Notification/notificationRequest.js') }}"></script>
        <script src="{{ asset('assets/js/angular/Guide/guideController.js') }}"></script>
        <script src="{{ asset('assets/js/angular/Guide/guideService.js') }}"></script>
        <script src="{{ asset('assets/js/angular/Guide/guideRequest.js') }}"></script>
        <script src="{{ asset('assets/js/angular/Homepage/homepageController.js') }}"></script>
        <script src="{{ asset('assets/js/angular/Homepage/homepageRequest.js') }}"></script>
        <script src="{{ asset('assets/vendor/chosen/chosen.js') }}"></script>
        <script src="{{ asset('assets/vendor/angular-chosen-localytics/chosen.js') }}"></script>
        <script src="{{ asset('assets/vendor/angular-ui-tree/dist/angular-ui-tree.js') }}"></script>

        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% endblock %}

    {% block css %}
        <link rel="shortcut icon" href="{{ asset('assets/images/logo.ico') }}" type="image/vnd.microsoft.icon" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/pages/dashboard.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/pages/signin.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/chosen/chosen.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/angular-chosen-localytics/chosen-spinner.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/vendor/angular-ui-tree/dist/angular-ui-tree.min.css') }}" rel="stylesheet">

    {% endblock %}
</head>
