{% extends 'MainBundle::base.html.twig' %}
{% block body %}
    <div class="account-container"  style="width:700px;">
        <div class="content clearfix">
            <h1 style="text-align:center;">{{ 'homepage.first.welcome-1' | trans}}</h1><br/>
            <h3 style="text-align:center">{{ 'homepage.first.welcome-2' | trans}}</h3><br/>
            <h3 style="text-align:center">{{ 'homepage.first.connect.text' | trans}}</h3><br/>
            <center>
                <a href="{{ path('esn_login_check') }}">
                    <button class="button btn btn-success btn-medium btn-galaxy">{{ 'homepage.first.connect.button' | trans}}</button>
                </a>
            </center>
        </div>
    </div>

    <div class="account-container" style="width:700px;">
        <div class="content clearfix">
            <h3 style="text-align:center">{{ 'homepage.second.functionnalities' | trans}}</h3><br/>

            <div id="big_stats" class="cf">
                <div class="stat"> <i class="icon-book"></i> <span class="value"><span id="layout_guides">3</span> {{ 'homepage.second.guide' | trans}}</span></div>
                <!-- .stat -->

                <div class="stat"> <i class="icon-user"></i> <span class="value"><span id="layout_users">25</span> {{ 'homepage.second.users' | trans}}</span> </div>
                <!-- .stat -->

                <div class="stat"> <i class="icon-exclamation-sign"></i> <span class="value"><span id="layout_notifications">74</span> {{ 'homepage.second.notifications' | trans}}</span> </div>
                <!-- .stat -->
                <!-- /widget-content -->
            </div>
            <br>
            <h3 style="text-align:center"> {{ 'homepage.second.comments' | trans}} <a href="mailto:{{ webmastermail }}">{{ webmastermail }}</a></h3>
        </div>
    </div>
{% endblock %}