<header></header>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="">{{ 'menu.name-site' | trans }}</a>
            {% if app.user %}
                <div class="nav-collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>
                                {{ app.user.username }}
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    [Impersonation]
                                {% endif %}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li>
                                        <a href="{{ path('esn_guide', {'_switch_user': '_exit'}) }}">{{ 'menu.impersonation' | trans }}</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('esn_logout') }}">{{ 'menu.logout' | trans }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>